/* CSS Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
strike,
strong,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    -webkit-appearance: none;
    -webkit-text-size-adjust: 100%;
}
strong{
	font-weight: bolder;
}
em {
	font-style: italic;
}

html, body {
	margin: 0;
	padding: 0;
    -webkit-text-size-adjust: 100%;
}
body {
	width: 100%;
    min-width: 320px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
	color: #222;
    position: relative;
    background: #fff;
    font-weight: normal;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;
}
::selection {
	background: #9de2ff;
}
::-moz-selection {
	background: #9de2ff;
}
::-webkit-input-placeholder {
    color: #222;
}
:-moz-placeholder {
    color: #222;
}
::-moz-placeholder {
    color: #222;
}
:-ms-input-placeholder {
    color: #222;
}
input, textarea, button {
    outline: none;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    border: 0;
    -webkit-appearance: none;
    font-weight: normal;
}
input[type=submit], button {
    cursor: pointer;
}
div {
    box-sizing: border-box;
}
table {
	border: 0 none;
	padding: 0;
    border-spacing: 0;
}
td {
    vertical-align: top;
}
img {
	border: none;
}
b, strong {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
a {
    box-sizing: border-box;
    color: #222;
	text-decoration: none;
    cursor: pointer;
}
a:hover {
	text-decoration: underline;
}
a:visited {
	text-decoration: none;
}
* {
    transition: all 0.5s ease;
}
.container {
    position: relative;
    z-index: 10;
    width: 1140px;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    padding: 20px 0 35px 0;
}
.header.white {
    background: #fff;
}
.header.always-white {
    background: #fff;
}
.header .mobile-menu-button {
    display: none;
    position: absolute;
    z-index: 25;
    top: 15px;
    left: 15px;
    width: 15px;
    height: 12px;
    background: url(../images/button-mmenu-white.svg) no-repeat center;
}
.header.white .mobile-menu-button,
.header.always-white .mobile-menu-button {
    background: url(../images/button-mmenu-blue.svg) no-repeat center;
}
.header .logo {
    position: relative;
    float: left;
    width: 232px;
    height: 76px;
    background: url(../images/h-logo-white.svg) no-repeat center;
    background-size: 100%;
}
.header .logo a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.header.white .logo,
.header.always-white .logo {
    background: url(../images/h-logo-blue.svg) no-repeat center;
}
.header .menu {
    float: left;
    list-style: none;
    padding: 0;
    margin: 40px 0 0 20px;
}
.header .menu li {
    float: left;
    margin: 0 20px 0 0;
}
.header .menu li:last-of-type {
    margin: 0;
}
.header .menu li a {
    color: #fff;
}
.header.white .menu li a,
.header.always-white .menu li a {
    color: #222;
}
.header .lang {
    position: relative;
    float: right;
    margin: 40px 0 0 0;
    padding: 0 0 14px 0;
}
.header .lang .current {
    float: left;
    background: url(../images/icon-h-lang-arr1.svg) no-repeat right center;
    padding: 0 17px 0 0;
    line-height: 20px;
    color: #fff;
}
.header .lang .current:hover {
    text-decoration: none;
}
.header.white .lang .current,
.header.always-white .lang .current {
    background: url(../images/icon-h-lang-arr2.svg) no-repeat right center;
    color: #222;
}
.header .lang .current img {
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 8px 0 0;
}
.header .lang .list {
    display: none;
    position: absolute;
    top: 100%;
    /*left: -16px;*/
    left: -22px; /* CORRECTED */
    list-style: none;
    padding: 12px 16px;
    background: #fff;
    border-radius: 10px;
}
.header .lang:hover .list {
    display: block;
}
.header .lang .list li a {
    float: left;
    padding: 4px 0;
    width: 100%;
    line-height: 20px;
    color: #222;
}
.header .lang .list li a:hover {
    text-decoration: none;
    color: #159BFF;
}
.header .lang .list li a img {
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 8px 0 0;
}

.main-banner {
    position: relative;
    z-index: 10;
    float: left;
    width: 100%;
    min-height: 1000px;
    padding: 280px 0 80px 0;
    background: url(../images/main-banner-bg.jpg) no-repeat top center;
    background-size: cover;
    color: #fff;
}
.main-banner:before {
    position: absolute;
    bottom: -142px;
    right: 150px;
    width: 285px;
    height: 285px;
    background: url(../images/mb-item-1.svg) no-repeat center;
    background-size: cover;
    content: '';
}
.main-banner-slider-body {
    position: relative;
    z-index: 20;
    float: left;
    width: 360px;
    overflow: hidden;
}
.main-banner-slider-body .owl-item {
    float: left;
}
.main-banner-slider-body .owl-nav,
.main-banner-slider-body .owl-dots {
    display: none;
}
.main-banner-slider-body .title {
    float: left;
    width: 100%;
    margin: 0 0 20px 0;
    font-weight: bold;
    font-size: 60px;
    line-height: 120%;
}
.main-banner-slider-body p {
    float: left;
    width: 100%;
    margin: 0 0 30px 0;
    font-size: 18px;
    line-height: 122%;
}
.main-banner-slider-body .button {
    display: inline-block;
    width: 164px;
    padding: 16px;
    background: #78D9FF;
    border-radius: 26px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #fff;
}
.main-banner-slider-body .button:hover {
    text-decoration: none;
    opacity: 0.8;
}
.main-banner .animation {
    position: absolute;
    z-index: 3;
    top: -120px;
    left: 185px;
    width: 1188px;
}
.main-banner .animation .cardio {
    position: absolute;
    z-index: 1;
    top: 167px;
    left: 0;
    height: 356px;
    background: url(../images/mb-cardio-bg.svg) no-repeat;
    background-position: top left;
    animation: cardio-animation 5s linear infinite;
}
@keyframes cardio-animation {
    0% {
        width: 0;
        background-position: top left;
    }
    96% {
        width: 100%;
        background-position: top left;
        opacity: 1;
    }
    100% {
        width: 100%;
        opacity: 0;
        background-position: top left;
    }
}
/*@keyframes cardio-animation {
    0% {
        width: 0;
        background-position: top left;
    }
    50% {
        width: 100%;
        background-position: top left;
        opacity: 1;
    }
    100% {
        width: 100%;
        opacity: 0;
        background-position: top left;
    }
}*/
.main-banner .animation .diamond {
    position: absolute;
    z-index: 3;
    top: 0;
    left: calc(50% - 378px);
    width: 756px;
    height: 756px;
    background: url(../images/mb-diamond-bg.svg) no-repeat;
    background-position: top left;
}
.main-banner .animation .diamond2 {
    position: absolute;
    z-index: 5;
    top: 190px;
    left: calc(50% - 202px);
    width: 404px;
    height: 404px;
    background: url(../images/mb-diamond-bg.png) no-repeat center;
    background-size: cover;
    animation: diamond-animation 5s linear infinite;
}
@keyframes diamond-animation {
    0% {
        transform: scale(1);
    }
    20% {
        transform: scale(1.03);
    }
    30% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.12);
    }
    70% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.03);
    }
    100% {
        transform: scale(1);
    }
}
/*@keyframes diamond-animation {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    75% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}*/

.main-about-us {
    position: relative;
    z-index: 7;
    float: left;
    width: 100%;
    background: url(../images/about-us-bg.svg) no-repeat left top -130px #eceff4;
    padding: 120px 0 130px 0;
}
.main-about-us:before {
    position: absolute;
    bottom: -97px;
    left: 165px;
    width: 194px;
    height: 194px;
    background: url(../images/mb-item-2.svg) no-repeat top center;
    background-size: cover;
    content: '';
}
.main-about-us .headline {
    position: relative;
    float: left;
    width: 100%;
    margin: 0 0 100px 0;
}
.main-about-us .headline .main {
    position: relative;
    z-index: 5;
    float: left;
    width: 100%;
    font-weight: bold;
    font-size: 40px;
    line-height: 122%;
}
.main-about-us .headline .shadowed {
    position: absolute;
    z-index: 1;
    top: -55px;
    left: 50px;
    font-weight: bold;
    font-size: 130px;
    line-height: 121%;
    color: #fff;
}
.main-about-us .tab-list {
    float: left;
    width: 100%;
}
.main-about-us .tab-list .item {
    float: left;
    width: 25%;
    padding: 0 15px;
    margin: 0 0 35px 0;
}
.main-about-us .tab-list .item .link {
    position: relative;
    float: left;
    width: 100%;
    line-height: 68px;
    background: rgba(0, 136, 204, 0.2);
    border-radius: 34px;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: #0088CC;
}
.main-about-us .tab-list .item .link:hover {
    text-decoration: none;
    color: #fff;
    background: #0088CC;
}
.main-about-us .tab-list .item .link.active {
    padding: 0 15px 0 75px;
    background: #0088CC;
    color: #fff;
}
.main-about-us .tab-list .item .link.active:before {
    position: absolute;
    top: 8px;
    left: 10px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: url(../images/icon-arrow-tab.svg) no-repeat center #fff;
    content: '';
}
.main-about-us .tab-content {
    float: left;
    width: 100%;
    padding: 0 15px;
    margin: 0 0 35px 0;
    transition: none;
}
.main-about-us .tab-content .text {
    float: left;
    width: 50%;
    padding: 0 30px 0 0;
    margin: 0 0 30px 0;
    font-size: 14px;
    line-height: 155%;
    color: #666666;
}
.main-about-us .tab-content .text p {
    float: left;
    width: 100%;
    margin: 0 0 20px 0;
}
.main-about-us .tab-content .text p:last-of-type {
    margin: 0;
}
.main-about-us .tab-content .video {
    position: relative;
    overflow: hidden;   /* CORRECTED */
    float: left;
    width: 50%;
    height: 400px;
    border-radius: 32px;
    background: url(../images/mp-video-bg.jpg) no-repeat left top #0088CC;
}
.main-about-us .tab-content .video .play-button {
    position: absolute;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: url(../images/icon-play-arrow.svg) no-repeat center #fff;
}

.main-markets {
    position: relative;
    z-index: 5;
    float: left;
    width: 100%;
    background: url(../images/main-markets-bg.svg) no-repeat right center, url(../images/main-markets-body-bg.jpg) no-repeat center #eceff4;
    padding: 90px 0 130px 0;
}
.main-markets:before {
    position: absolute;
    bottom: -97px;
    right: 165px;
    width: 194px;
    height: 194px;
    background: url(../images/mb-item-2.svg) no-repeat top center;
    background-size: cover;
    content: '';
}
.main-markets .headline {
    position: relative;
    float: left;
    width: 100%;
    margin: 0 0 100px 0;
}
.main-markets .headline .main {
    position: relative;
    z-index: 5;
    float: left;
    width: 100%;
    font-weight: bold;
    font-size: 40px;
    line-height: 122%;
}
.main-markets .headline .shadowed {
    position: absolute;
    z-index: 1;
    top: -55px;
    left: 50px;
    font-weight: bold;
    font-size: 130px;
    line-height: 121%;
    color: #fff;
}
.main-markets .mobile-table {
    display: none;
    position: relative;
    float: left;
    width: 100%;
    color: #000;
}
.main-markets .mobile-table:before {
    position: absolute;
    z-index: -1;
    bottom: -10px;
    left: 20px;
    width: calc(100% - 40px);
    height: 10px;
    border-radius: 0 0 10px 10px;
    background: #f7f7f9;
    content: '';
}
.main-markets .mobile-table a {
    color: #222;
}
.main-markets .mobile-table .market {
    float: left;
    width: 100%;
    padding: 24px;
    background: #BFDAED;
    font-size: 16px;
    line-height: 24px;
}
.main-markets .mobile-table .market:first-of-type {
    border-radius: 16px 16px 0 0;
}
.main-markets .mobile-table .market b {
    float: left;
    margin: 0 20px 0 0;
}
.main-markets .mobile-table .market img {
    float: left;
    height: 24px;
    margin: 0 16px 0 0;
}
.main-markets .mobile-table table {
    float: left;
    width: 100%;
}
.main-markets .mobile-table table:last-of-type tr:last-of-type td:first-of-type {
    border-radius: 0 0 0 16px;
}
.main-markets .mobile-table table:last-of-type tr:last-of-type td:last-of-type {
    border-radius: 0 0 16px 0;
}
.main-markets .mobile-table table tr td {
    border-bottom: 1px solid #c8eeff;
    background: #fff;
    padding: 28px 5px;
}
.main-markets .mobile-table table tr td:first-of-type {
    padding-left: 24px;
}
.main-markets .mobile-table table tr td:last-of-type {
    padding-right: 24px;
}
.main-markets .mobile-table table tr:first-of-type td {
    font-weight: bold;
    border-bottom: 1px solid #c8eeff;
}
.main-markets .mobile-table table tr:last-of-type td {
    border-bottom: 0;
}
.main-markets .desktop-table {
    position: relative;
    float: left;
    width: 100%;
}
.main-markets .desktop-table:before {
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: calc(100% - 40px);
    height: 10px;
    border-radius: 0 0 10px 10px;
    background: #f7f7f9;
    content: '';
}
.main-markets .desktop-table a {
    color: #222;
}
.main-markets .desktop-table thead tr td {
    padding: 26px 24px;
    background: #0088CC !important;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    border: 0 !important;
}
.main-markets .desktop-table thead tr td:first-of-type {
    border-radius: 16px 0 0 0 !important;
}
.main-markets .desktop-table thead tr td:last-of-type {
    border-radius: 0 16px 0 0 !important;
}
.main-markets .desktop-table tr td {
    background: #fff;
    padding: 22px;
    text-align: center;
    font-size: 16px;
    line-height: 24px;
}
.main-markets .desktop-table tr td:first-of-type {
    text-align: left;
}
.main-markets .desktop-table tr td:first-of-type img {
    float: left;
    max-height: 24px;
    margin: 0 16px 0 0;
}
.main-markets .desktop-table tr td:last-of-type {
    width: 190px;
}
.main-markets .desktop-table tr:nth-of-type(odd) td {
    background: #fff;
    border-top: 1px solid #c8eeff;
    border-bottom: 1px solid #c8eeff;
}
.main-markets .desktop-table tr:nth-of-type(even) td {
    background: #EFF5F2;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.main-markets .desktop-table tr:last-of-type td:first-of-type {
    border-radius: 0 0 0 16px;
}
.main-markets .desktop-table tr:last-of-type td:last-of-type {
    border-radius: 0 0 16px 0;
}
.main-markets .desktop-table tr:last-of-type td {
    border-bottom: 0;
}

.main-news {
    position: relative;
    z-index: 4;
    float: left;
    width: 100%;
    padding: 115px 0 110px 0;
    background: url(../images/main-banner-bg.jpg) no-repeat top center;
    background-size: cover;
}
.main-news .headline {
    position: relative;
    float: left;
    width: 100%;
    margin: 0 0 100px 0;
}
.main-news .headline .main {
    position: relative;
    z-index: 5;
    float: left;
    width: 100%;
    font-weight: bold;
    font-size: 40px;
    line-height: 122%;
    color: #fff;
}
.main-news .headline .shadowed {
    position: absolute;
    z-index: 1;
    top: -55px;
    left: 50px;
    font-weight: bold;
    font-size: 130px;
    line-height: 121%;
    color: #fff;
    opacity: 0.1;
}
.main-news .news-list {
    float: left;
    width: 100%;
}
.main-news .news-list .item {
    position: relative;
    float: left;
    width: 33.333%;
    padding: 0 15px;
    margin: 0 0 30px 0;
}
.main-news .news-list .item .link {
    position: absolute;
    z-index: 15;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.main-news .news-list .item .single {
    position: relative;
    float: left;
    width: 100%;
    background: #fff;
    padding: 24px;
    border-radius: 16px;
}
.main-news .news-list .item .single:before {
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: calc(100% - 40px);
    height: 10px;
    border-radius: 0 0 10px 10px;
    background: rgba(255, 255, 255, 0.2);
    content: '';
}
.main-news .news-list .item .title {
    float: left;
    width: calc(100% - 150px);
    max-height: 80px;
    overflow: hidden;
    font-size: 16px;
    line-height: 20px;
    color: #000;
}
.main-news .news-list .item .title:hover {
    text-decoration: none;
}
.main-news .news-list .item .image {
    float: right;
    width: 120px;
    height: 80px;
    border-radius: 8px;
}
.main-news .news-list .item .date {
    float: left;
    width: 100%;
    margin: 16px 0 0 0;
    padding: 0 0 0 24px;
    background: url(../images/icon-date.svg) no-repeat left center;
    font-size: 12px;
    line-height: 20px;
    color: #999;
}

.main-partners {
    position: relative;
    z-index: 10;
    float: left;
    width: 100%;
    padding: 115px 0 110px 0;
    background: url(../images/main-partners-bg.svg) no-repeat left center, url(../images/main-markets-body-bg.jpg) no-repeat center;
}
.main-partners .headline {
    position: relative;
    float: left;
    width: 100%;
    margin: 0 0 100px 0;
}
.main-partners .headline .main {
    position: relative;
    z-index: 5;
    float: left;
    width: 100%;
    font-weight: bold;
    font-size: 40px;
    line-height: 122%;
}
.main-partners .headline .shadowed {
    position: absolute;
    z-index: 1;
    top: -55px;
    left: 50px;
    font-weight: bold;
    font-size: 130px;
    line-height: 121%;
    color: #fff;
}
.main-partners .partners-list {
    float: left;
    width: 100%;
}
.main-partners .partners-list .item {
    float: left;
    width: 25%;
    padding: 35px 10px;
    text-align: center;
}
.main-partners .partners-list .item img {
    max-width: 100%;
    max-height: 100%;
}

.main-links {
    position: relative;
    z-index: 20;
    float: left;
    width: 100%;
    padding: 115px 0 110px 0;
    background: #e9f2f4;
}
.main-links:before {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    width: 1061px;
    height: 960px;
    background: url(../images/footer-before-2.png) no-repeat center;
    content: '';
}
.main-links .headline {
    position: relative;
    float: left;
    width: 100%;
    margin: 0 0 100px 0;
}
.main-links .headline .main {
    position: relative;
    z-index: 5;
    float: left;
    width: 100%;
    font-weight: bold;
    font-size: 40px;
    line-height: 122%;
}
.main-links .headline .shadowed {
    position: absolute;
    z-index: 1;
    top: -55px;
    left: 50px;
    font-weight: bold;
    font-size: 130px;
    line-height: 121%;
    color: #fff;
}
.main-links .links {
    float: left;
    width: 200px;
    margin: 0 35px;
}
.main-links .links a {
    display: block;
    font-size: 15px;
    line-height: 30px;
    color: #222;
}

.footer {
    position: relative;
    float: left;
    width: 100%;
    height: 280px;
    padding: 80px 0 40px 0;
    background: url(../images/main-banner-bg.jpg) no-repeat center;
    background-size: 100% auto;
    color: #fff;
}
.footer:before {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    width: 1174px;
    height: 280px;
    background: url(../images/footer-before-1.png) no-repeat center;
    content: '';
}
.footer p {
    float: left;
    width: 100%;
    margin: 0 0 32px 0;
    font-size: 14px;
    line-height: 17px;
}
.footer p:last-of-type {
    margin: 0;
}
.footer .email {
    font-weight: bold;
    color: #fff;
}
.footer .socials {
    float: left;
    width: 100%;
    margin: 0 0 32px 0;
}
.footer .socials a {
    display: inline-block;
    margin: 0 16px 0 0;
    width: 24px;
    height: 24px;
}
.footer .socials a.social-1 {
    background: url(../images/icon-f-social-1.svg) no-repeat center;
}
.footer .socials a.social-2 {
    background: url(../images/icon-f-social-2.svg) no-repeat center;
}
.footer .socials a.social-3 {
    background: url(../images/icon-f-social-3.svg) no-repeat center;
}

.mobile-menu-overlay {
    display: none;
    position: fixed;
    z-index: 120;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.35;
    transition: none;
}
.mobile-menu-body {
    display: none;
    position: fixed;
    z-index: 140;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: #fff;
    transition: none;
}
.mobile-menu-body .block-close {
    float: left;
    width: 100%;
    height: 45px;
    padding: 15px;
}
.mobile-menu-body .block-menu {
    float: left;
    width: 100%;
    height: calc(100vh - 45px);
    padding: 15px;
    overflow-y: scroll;
}
.mobile-menu-body .block-menu::-webkit-scrollbar {
    display: none;
}

.mobile-menu-body .close {
    float: left;
    width: 16px;
    height: 16px;
    background: url(../images/button-mmenu-close.svg) no-repeat center;
    background-size: cover;
}
.mobile-menu-body .menu {
    float: left;
    width: 100%;
    list-style: none;
    margin: 0 0 20px 0;
}
.mobile-menu-body .menu li {
    float: left;
    width: 100%;
}
.mobile-menu-body .menu li a {
    float: left;
    width: 100%;
    padding: 6px 0;
    font-size: 14px;
    color: #000;
}
.mobile-menu-body .menu li a:hover {
    text-decoration: none;
}
.mobile-menu-body .lang {
    display: none;
    float: left;
    width: 100%;
    list-style: none;
}
.mobile-menu-body .lang li {
    float: left;
    width: 33.333%;
    padding: 6px 0;
}
.mobile-menu-body .lang li a {
    float: left;
    color: #000;
    line-height: 20px;
}
.mobile-menu-body .lang li a:hover {
    text-decoration: none;
}
.mobile-menu-body .lang li.active a {
    color: #159BFF;
}
.mobile-menu-body .lang li img {
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 8px 0 0;
}

.inner-content {
    position: relative;
    z-index: 1;
    float: left;
    width: 100%;
    padding: 170px 0 235px 0;
    background: url(../images/about-us-bg.svg) no-repeat left top 0, url(../images/main-markets-body-bg.jpg) no-repeat bottom center #eceff4;
}
.inner-content:before {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    width: 1061px;
    height: 960px;
    background: url(../images/footer-before-2.png) no-repeat center;
    content: '';
}
.inner-content .headline {
    position: relative;
    float: left;
    width: 100%;
    margin: 70px 0 100px 0;
}
.inner-content .headline .main {
    position: relative;
    z-index: 5;
    float: left;
    width: 100%;
    font-weight: bold;
    font-size: 40px;
    line-height: 122%;
}
.inner-content .headline .shadowed {
    position: absolute;
    z-index: 1;
    top: -55px;
    left: 50px;
    font-weight: bold;
    font-size: 130px;
    line-height: 121%;
    color: #fff;
}
.inner-content .pages-tree {
    float: left;
    width: 100%;
    font-weight: bold;
}
.inner-content .pages-tree a {
    position: relative;
    float: left;
    padding: 0 13px 0 0;
    margin: 0 8px 0 0;
    color: #222;
    text-decoration: underline;
}
.inner-content .pages-tree a:before {
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    width: 5px;
    height: 2px;
    background: #222;
    content: '';
}
.inner-content .faq-topics {
    float: left;
    width: 100%;
    margin: 0 0 22px 0;
}
.inner-content .faq-topics .item {
    float: left;
    width: 16.666%;
    padding: 0 15px;
    text-align: center;
    margin: 0 0 10px 0;
}
.inner-content .faq-topics .item a {
    float: left;
    width: 100%;
    padding: 16px;
    background: #BEDAED;
    border-radius: 34px;
    font-size: 14px;
    line-height: 16px;
    color: #0088CC;
}
.inner-content .faq-topics .item a:hover {
    text-decoration: none;
    background: #1fa9ef;
    color: #fff;
}
.inner-content .faq-topics .item a:active {
    background: #0088CC;
    color: #fff;
}
.inner-content .faq-topics .item a.active {
    background: #0088CC;
    color: #fff;
}
.inner-content .faq-item {
    float: left;
    width: 100%;
    padding: 0 15px;
    margin: 0 0 16px 0;
}
.inner-content .faq-item .top {
    position: relative;
    float: left;
    width: 100%;
    padding: 24px 80px 24px 36px;
    background: #BEDAED;
    border-radius: 34px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #0088CC;
    cursor: pointer;
}
.inner-content .faq-item .top.opened {
    background: #0088CC;
    color: #fff;
}
.inner-content .faq-item .top:before {
    position: absolute;
    top: 8px;
    right: 10px;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background: url(../images/icon-arrow-tab.svg) no-repeat center #fff;
    content: '';
}
.inner-content .faq-item .top.opened:before {
    transform: rotate(90deg);
}
.inner-content .faq-item .bot {
    display: none;
    float: left;
    width: 100%;
    padding: 0 35px;
    margin: 16px 0 0 0;
    font-size: 14px;
    line-height: 22px;
    color: #666;
    transition: none;
}
.inner-content .pager {
    float: left;
    width: 100%;
    padding: 0 15px;
}
.inner-content .pager a {
    float: left;
    width: 50px;
    height: 50px;
    margin: 0 10px 10px 0;
    padding: 16px;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #0088CC;
    background: rgba(0, 136, 204, 0.2);
    border-radius: 16px;
    text-align: center;
}
.inner-content .pager a.active {
    background: #0088CC;
    color: #fff;
}
.inner-content .news-list {
    float: left;
    width: 100%;
    text-align: center;
}
.inner-content .news-list .item {
    display: inline-block;
    width: 360px;
    margin: 0 8px 42px 8px;
    text-align: left;
}
.inner-content .news-list .item a {
    position: relative;
    float: left;
    width: 100%;
    background: #fff;
    border-radius: 16px;
}
.inner-content .news-list .item a:before {
    position: absolute;
    bottom: -10px;
    left: 20px;
    width: calc(100% - 40px);
    height: 10px;
    border-radius: 0 0 10px 10px;
    background: rgba(255, 255, 255, 0.2);
    content: '';
}
.inner-content .news-list .item a .image {
    float: left;
    width: 100%;
    height: 220px;
}
.inner-content .news-list .item a .image img {
    float: left;
    width: 100%;
    height: 220px;
    border-radius: 16px;
}
.inner-content .news-list .item a .details {
    float: left;
    width: 100%;
    padding: 24px;
    font-size: 16px;
    line-height: 20px;
}
.inner-content .news-list .item a .details p {
    float: left;
    width: 100%;
    height: 80px;
    overflow: hidden;
}
.inner-content .news-list .item a .details .date {
    float: left;
    width: 100%;
    margin: 3px 0 0 0;
    padding: 0 0 0 24px;
    background: url(../images/icon-date.svg) no-repeat left center;
    font-size: 12px;
    line-height: 20px;
    color: #999;
}
.inner-content .news-content {
    float: left;
    width: 100%;
    background: #fff;
    border-radius: 16px;
    padding: 24px;
    color: #666;
}
.inner-content .news-content img {
    float: left;
    max-width: 100%;
    margin: 0 24px 24px 0;
    border-radius: 8px;
}
.inner-content .news-content p {
    margin: 0 0 22px 0;
}
.inner-content .news-content p:last-of-type {
    margin: 0;
}
.inner-content .news-content .date {
    display: inline-block;
    padding: 0 0 0 24px;
    background: url(../images/icon-date.svg) no-repeat left center;
    font-size: 12px;
    line-height: 20px;
    color: #999;
}
.inner-content .static-page-content {
    float: left;
    width: 100%;
    font-size: 14px;
    line-height: 22px;
    color: #666666;
}
.inner-content .static-page-content p {
    margin: 0 0 22px 0;
}
.inner-content .static-page-content p:last-of-type {
    margin: 0;
}
.inner-content .static-page-content .video {
    position: relative;
    float: right;
    width: 50%;
    height: 400px;
    margin: 0 0 0 30px;
    border-radius: 32px;
    background: url(../images/mp-video-bg.jpg) no-repeat left top #0088CC;
    background-size: cover;
}
.inner-content .static-page-content .video .play-button {
    position: absolute;
    top: calc(50% - 45px);
    left: calc(50% - 45px);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: url(../images/icon-play-arrow.svg) no-repeat center #fff;
}

/* CORRECTED */
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}




/* media */

@media only screen and (max-width: 1500px) {
    .footer:before,
    .main-links:before,
    .inner-content:before {
        display: none;
    }
}

@media only screen and (max-width: 1140px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
    .header {
        padding: 20px 0;
    }
    .header .menu {
        display: none;
    }
    .header .mobile-menu-button {
        display: block;
    }
    .main-banner .animation {
        left: 0;
    }
    .header .logo {
        margin: 0 0 0 30px;
    }
    .main-about-us .tab-list .item {
        width: 50%;
    }
    .inner-content .faq-topics .item {
        width: 33.333%;
    }
    .inner-content {
        padding: 150px 0 64px 0;
        background: #f0f0f5;
    }
}

@media only screen and (max-width: 1100px) {
    body .headline .shadowed {
        display: none;
    }
    body .headline .main {
        font-size: 25px !important;
        text-align: center;
    }
    body .headline {
        margin: 0 0 35px 0 !important;
    }
    .inner-content .pages-tree {
        margin: 0 0 26px 0;
    }
}

@media only screen and (max-width: 900px) {
    .main-banner {
        padding: 360px 0 65px 0;
        height: auto;
        min-height: auto;
    }
    .main-banner:before {
        display: none;
    }
    .main-banner .animation {
        width: 365px;
        left: calc(50% - 183px);
        top: -230px;
    }
    .main-banner .animation .diamond {
        width: 230px;
        height: 230px;
        left: calc(50% - 115px);
        background-size: cover;
    }
    .main-banner .animation .diamond2 {
        top: 55px;
        left: calc(50% - 65px);
        width: 130px;
        height: 130px;
    }
    .main-banner .animation .cardio {
        top: 50px;
        height: 110px;
        background: url(../images/mb-cardio-bg-2.svg) no-repeat;
    }
    .main-banner-slider-body {
        width: 100%;
        text-align: center;
    }
    .main-banner-slider-body .title {
        font-size: 50px;
    }
    .main-about-us {
        background: #eceff4;
        padding: 65px 0;
    }
    .main-about-us:before {
        display: none;
    }
    .main-about-us .tab-content {
        margin: 0;
    }
    .main-about-us .tab-content .text {
        margin: 0;
    }
    .main-markets {
        padding: 65px 0 85px 0;
    }
    .main-markets:before {
        display: none;
    }
    .main-news {
        padding: 65px 0 35px 0;
    }
    .main-news .news-list .item {
        width: 50%;
    }
    .main-partners {
        padding: 65px 0;
    }
    .main-partners .partners-list .item {
        width: 33.333%;
        padding: 15px;
    }
    .main-links {
        padding: 65px 0;
    }
}

@media only screen and (max-width: 800px) {
    .main-markets .desktop-table {
        display: none;
    }
    .main-markets .mobile-table {
        display: block;
    }
    .main-links .links {
        width: 50%;
        padding: 0;
        margin: 0;
    }
    .inner-content .faq-topics .item {
        width: 50%;
    }
}

@media only screen and (max-width: 700px) {
    .main-about-us .tab-list .item {
        width: 100%;
        padding: 0;
        margin: 0 0 10px 0;
    }
    .main-about-us .tab-list .item .link {
        line-height: 48px;
        border-radius: 24px;
        text-align: left;
        padding: 0 15px 0 50px;
    }
    .main-about-us .tab-list .item .link.active {
        padding: 0 15px 0 50px;
    }
    .main-about-us .tab-list .item .link.active:before {
        width: 32px;
        height: 32px;
    }
    .main-about-us .tab-content {
        padding: 0;
        margin: 25px 0 0 0;
    }
    .main-about-us .tab-content .text {
        padding: 0;
        width: 100%;
        margin: 0 0 30px 0;
    }
    .main-about-us .tab-content .video {
        width: 100%;
        height: 210px;
        background-size: cover;
    }
    .main-about-us .tab-content .video .play-button {
        top: calc(50% - 23px);
        left: calc(50% - 23px);
        width: 46px;
        height: 46px;
    }
    .main-news .news-list .item {
        width: 100%;
        padding: 0;
    }
    .main-news .news-list .item .title {
        width: calc(100% - 130px);
    }
    .main-partners .partners-list .item {
        width: 50%;
        padding: 5px 10px;
    }
    .inner-content .static-page-content .video {
        width: 100%;
        height: 210px;
        margin: 0 0 30px 0;
    }
}

@media only screen and (max-width: 600px) {
    .main-links .links {
        width: 100%;
    }
    .footer {
        background-size: cover;
        text-align: center;
    }
    .inner-content .faq-topics .item {
        width: 100%;
        padding: 0;
    }
    .inner-content .faq-item {
        padding: 0;
    }
    .inner-content .faq-item .top {
        padding: 14px 55px 14px 20px;
        border-radius: 24px;
    }
    .inner-content .faq-item .top:before {
        width: 32px;
        height: 32px;
    }
    .inner-content .faq-item .bot {
        padding: 0;
    }
    .inner-content .pager {
        padding: 0;
    }
}

@media only screen and (max-width: 500px) {
    .header .lang {
        display: none;
    }
    .header .logo {
        width: 100%;
        margin: 0;
        background-position: center;
        background-size: auto 100%;
    }
    .mobile-menu-body .lang {
        display: block;
    }
    .inner-content .news-list .item {
        width: 100%;
        padding: 0;
        margin: 0 0 30px 0;
    }
    .inner-content .news-list .item a .image,
    .inner-content .news-list .item a .image img {
        height: auto;
    }
    .inner-content .news-content img {
        width: 100% !important;
        margin: 0 0 24px 0;
    }
}
